.bemvindo, .titulo, .mais{background-color: rgb(48, 34, 63);
color: rgb(255, 255, 255);


}

.destak{background-color: rgb(35, 123, 224);

    color: rgb(255, 255, 255);
}
.oi{background-color: black;
    color: rgb(255, 238, 0);}

/* Importando do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu{
    display: flex;
    justify-content: center ;
    flex-direction: row;
    list-style: none;   /* remove os dots */
    color:black;
    .background-color: blue;
    margin-bottom: 20px;
    padding-bottom: 10%;
}
nav{
    display: flex; /* Permite organizar os elementos HTML*/
    justify-content: space-between;
    background-color:#FFE600;
    padding: 10px 20px;
}
.logo{
    font-size: 1.8rem;
    color: #0046BE;
    font-weight: bold;
    
}
li{
    padding: 12px 10px 5px 50px; /* dá um respiro dentro dos links */
}
a{ 
    text-decoration: none; /* remove o sublinhado */
    color: black;
}
body{
    font-family: 'Poppins', sans-serif;
}
